<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>{ifset title}{include title|stripHtml} | {/ifset}Semestralka</title>
</head>

<body>
    <header>
        <ul class="navigation">
            <li><a n:href="Homepage:default">Hlavní strana</a></li>
            {if $user->loggedIn}
                <li><a n:href="Sign:out">Odhlásit</a></li>
            {else}
                <li><a n:href="Sign:in">Přihlásit</a></li>
            {/if}
        </ul>
    </header>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	{include content}

	{block scripts}
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	{/block}
</body>
</html>
